

.navbar {
  background-color: lightpink;
  position: fixed;
  top: 0;
  width: 100%;

}

.navbar li {
  display: inline-block;
  padding-left: 150px;
}

.navbar a {
  text-decoration: none;
  color: white;
}


.Welcome {
  margin-top: 50px;
  background-color: #fff0f5;
  text-align: center;
  padding: 10px;


}

#me {
  height: 300px;
  width: 300px;
  filter: drop-shadow(1px 1px 1px black);

}

.About h1 {
  
}
